# Ignore artifacts:
build
coverage
dist

# Ignore version control systems
**/.git
**/.svn
**/.hg

# NPM
package.json
package-lock.json
**/node_modules

# YARN
yarn.lock

# GIT
.gitignore

# CONFIG
.editorconfig
.prettierignore
browserslist

# FILETYPES
**/*.ico
**/*.config
**/*.yaml

# ASSETS
**/src/assets/*.*
!**/src/assets/*.json

# DOCUMENTATION
**/doc/

