<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <app-select
        id="land"
        label="Country"
        [options]="lands"
        [unavailableLabel]="selectCountryLabel"
        (changeSelected)="selectCountry($event)"
      ></app-select>
    </div>
    <div class="col-sm-12 col-lg-3">
      <ng-container *ngrxLet="stations$ as stations">
        <app-select
          id="stations"
          label="Stations"
          [options]="stations"
          [isEnabled]="!!stations?.length"
          [unavailableLabel]="
            !!stations?.length ? selectStationLabel : unavailableStationLabel
          "
          (changeSelected)="selectStation($event)"
        ></app-select>
      </ng-container>
    </div>
  </div>
</div>
