<div class="form-group">
  <label [for]="id" class="form-label mt-4">{{ label }}</label>
  <select
    class="form-select"
    [id]="id"
    [attr.aria-labelledby]="id"
    [attr.disabled]="isEnabled ? null : ''"
    [(ngModel)]="selectedOption"
    (change)="selectedChangedHandler(selectedOption)"
  >
    <option [ngValue]="undefined" selected>{{ unavailableLabel }}</option>
    <option
      *ngFor="let option of options"
      [value]="option.value"
      [attr.disabled]="option.isEnabled ? null : ''"
    >
      {{ option.label }}
    </option>
  </select>
</div>
