<div class="container">
  <div class="d-flex flex-wrap justify-content-between">
    <div id="card-welcome" class="card border-primary mb-3">
      <div class="card-header">The North Express</div>
      <div class="card-body">
        <h4 class="card-title">Welcome, traveller</h4>
        <p class="card-text">
          To get started, click on the desired mode of transportation in the
          <strong>Departures</strong> menu.
        </p>
      </div>
    </div>

    <div id="card-download-app" class="card border-primary mb-3">
      <div class="card-header">The North Express</div>
      <div class="card-body">
        <h4 class="card-title">Download our app</h4>
        <div class="card-text">
          <p>We are available in major app stores</p>
          <div class="d-flex flex-wrap justify-content-center">
            <a
              target="_blank"
              class="app-store-logo apple-badge m-1"
              title="The North Express on App Store"
              href="https://itunes.apple.com/"
              rel="noopener noreferrer"
            ></a>
            <a
              target="_blank"
              class="app-store-logo google-badge m-1"
              title="The North Express on Play Store"
              href="https://play.google.com/store/apps"
              rel="noopener noreferrer"
            ></a>
            <a
              target="_blank"
              class="app-store-logo amazon-badge m-1"
              title="The North Express on Amazon Store"
              href="https://www.amazon.com/"
              rel="noopener noreferrer"
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div id="card-help" class="card border-primary mb-3">
      <div class="card-header">The North Express</div>
      <div class="card-body">
        <h4 class="card-title">Need help?</h4>
        <div class="card-text">
          <p>We are happy to help you.</p>
          <a href="mailto:contact@rgpl.xyz">Ask us a question</a>
        </div>
      </div>
    </div>
  </div>
</div>
