<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">The North Express</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-default"
      aria-controls="navbar-default"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-default">
      <ul class="navbar-nav me-auto">
        <ng-container *ngFor="let link of navigationLinks">
          <ng-container
            *ngTemplateOutlet="
              link.links?.length ? multiple : single;
              context: { link: link }
            "
          >
          </ng-container>
        </ng-container>
      </ul>
      <form class="d-flex d-none">
        <input class="form-control me-sm-2" type="text" placeholder="Search" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<ng-template #single let-link="link">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="link.routerLink"
      routerLinkActive="active"
      #rla="routerLinkActive"
      [id]="link.name | kebabcase"
      >{{ link.name }}
      <span class="visually-hidden" *ngIf="rla.isActive">(current)</span>
    </a>
  </li>
</ng-template>

<ng-template #multiple let-link="link">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      href="#"
      routerLinkActive="active"
      #rla="routerLinkActive"
      [id]="link.name | kebabcase"
      >{{ link.name }}
    </a>
    <div class="dropdown-menu">
      <a
        class="dropdown-item"
        [routerLink]="childLink.routerLink"
        routerLinkActive="active"
        [id]="childLink.name | kebabcase"
        *ngFor="let childLink of link.links"
        >{{ childLink.name }}</a
      >
    </div>
  </li>
</ng-template>
